@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.button {
    background-color: $emerald;
    color: $white;
    border: none;
    border-radius: $border-radius;
    padding: 0.5rem 1.5rem;
    font-family: $font-family-base;
    font-size: 1rem;
    cursor: pointer;
    @include transition();
    @include box-shadow(1);
    &:hover {
        @include hover-effect($emerald-600);
    }
}
